
body {
    font-size: 210%;    
    margin: 5%;
}

h1 {
    white-space: nowrap;
    font-size: 300%;
}

p {
    margin: 10px;
}

a {
    
    color: #49b75e;
}

.emoji-p {
    font-size: 200%;
}

.blurb {
    font-style: italic;
    font-size: 75%;
}

.blurb-intro {
    font-size: 150%;
}

.row {
    margin-bottom: 10px;
}

.mugshot {
    width: 200px;
}

a:active {
    color: #49b75e;
}
a:link {
    color: #49b75e;
}
a:visited {
    color: #49b75e;
}
a:active {
    color: #49b75e;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 5px;
    text-align: center;
    
    background: #49b75e;
    color: black !important; 
}

.fa:active {
    text-decoration: none;
}

.fa:link {
    text-decoration: none;
}

.fa:visited {
    text-decoration: none;
}

.fa:hover {
    text-decoration: none;
    opacity: 0.7;        
}
